html, body {
  margin: 0;
  padding: 0;
}

 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  width: 80%;
  height: auto;
  margin: auto;
  display: inline-block;
  text-align: center;
  background-color: #ececec;
}

.startups {
  width: 45%;
  margin: 15px;
  padding: 5px;
  display: inline-block;
  background-color: white;
  text-align: left;
  border-radius: 5px;
  border-bottom: 2px inset #b3b3b3;
}

.img-box {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.img-box img {
  width: 75%;
  vertical-align: 15px; 
  height: auto;
}

#second-pic img {
  vertical-align: -8px;
}

.text {
  width: 60%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
