html, body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: lightslategray;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
  padding: 15px 30px;
  border-radius: 2%;
  border-left: 15px solid #3c4da6;
  background-color: white;
}

.sections {
  text-align: justify;
  padding: 10px 0 18px 0;
  
  .title {
    color: #3d4da9;
    line-height: 0;
  }
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  border-bottom: 1px solid #dedede;
}

.box1 {
  word-spacing: 5px;
  padding-bottom: 20px;
  line-height: 25px;
}

.box6 {
  display: flex;
  flex-direction: column;

  .info { 
    line-height: 30px;

    .link {
      font-size: 14px;
      color: #3d4da9;
      margin-left: 2px;
      
      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.box7 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .button1 {
    margin-top: 15px;
    background: #3c4da6;
    border-radius: 5%;
    padding: 10px;
    color: white;
  }

  .button2 {
    margin-top: 15px;
    border: 1px solid #999999;
    border-radius: 5%;
    padding: 10px;
    margin-left: 10px;
  }
}
